* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat Alternates', sans-serif;
}
p {
  font-family: 'Audiowide', cursive;
  text-decoration: underline;
  margin: 20px 0;
}
.page-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}
.surname {
  flex-basis: 50%;
  border: 1px solid #000;
  font-size: 1.5rem;
  height: 500px;
  text-align: center;
}
#position{
  margin-top: 40px;
}
